body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

nav{
    width: 150px;
    height: 100%;
    background-color: #051E34;
    overflow: hidden;
}

nav{
    background-image: url('../img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-size: 200%;
    padding-top: 70px;
}

main{
    height: 100%;
    width: calc(100% - 150px);
    padding-top: 50px;
}
main .card{
    margin-top: 2em;
}